recursive-include firmware/ *.py *.txt py.typed
include README.md
include LICENSE
include requirements.txt
include requirements-dev.txt
include environment.yml
include scripts/kbot-deploy
include scripts/kbot-run
include scripts/kbot-sine
include scripts/setup-conda.sh
